@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-text;
    }
}

/* BUTTONS */

.btn {
    @apply text-sm font-bold py-3 px-8 rounded transition uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    line-height: 1;
}

.button-primary {
    @apply border border-primary border-solid bg-primary text-white btn;
    box-shadow: 0 10px 15px 0 #FF3D004D;
}

.button-primary:hover {
    @apply bg-primary-hover border-primary-hover text-white btn;
}

.button-primary-outlined {
    @apply border border-primary border-solid text-primary btn;
}

.button-primary-outlined:hover {
    @apply border-primary-hover text-primary-hover;
}

.button-secondary {
    @apply border border-black border-solid bg-black text-white btn;
}

.button-secondary:hover {
    @apply border border-primary border-solid bg-primary text-white btn;
}

.button-secondary-outlined {
    @apply border border-black border-solid text-black btn;
}

.button-secondary-outlined:hover {
    @apply border border-primary border-solid text-primary btn;
}

/* TYPOGRAPHY */

h1, h2 {
    @apply font-heading
}

h3 {
    @apply font-heading text-2xl md:text-3xl xl:text-4xl
}

.header-1,
.header-2 {
    @apply font-heading text-3xl md:text-5xl xl:text-[64px];
    line-height: 52px;
}

/* SECTIONS */

.hero {
    @apply bg-slate-900;
    background-image: url('/img/hero_bg_opt.jpeg');

    @supports (background-image: url('/img/hero_bg_opt.webp')) {
        background-image: url('/img/hero_bg_opt.webp');
    }
}

.bordered {
    @apply border-b border-text
}

.section-box {
    @apply mx-auto px-4 py-10 md:px-10 md:py-20 xl:p-40
}

/* Testimonials */
.testimonials-slider {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}
